<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="table-responsive mb-4">
        <table class="table table-bordered text-center">
          <thead class="thead-dark">
            <tr>
              <th>Kurs</th>
              <th>Veranstaltungsort</th>
              <th>Adresse des Veranstaltungsortes</th>
              <th>Öffentlich erreichbar?</th>
              <th>Kursleiter</th>
              <th>Alle Termine</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of storeService.courses">
              <td>{{ course.name }}</td>
              <td>{{ course.eventLocation.name }}</td>
              <td>{{ course.eventLocation.address }}</td>
              <td>{{ course.eventLocation.venueByPublicTansport == true ? "Ja" : "Nein" }}</td>
              <td>{{ course.instructor }}</td>
              <td>
                <ul class="list-unstyled mb-0">
                  <li *ngFor="let date of course.dates">
                    <span>{{ date.begin | date: "MMM dd, yyyy 'um' hh:mm a" }}</span> - 
                    <span>{{ date.end | date: "MMM dd, yyyy 'um' hh:mm a" }}</span>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-responsive mb-4">
        <table class="table table-bordered text-center">
          <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Geburtsdatum</th>
              <th>Kurs</th>
              <th>
                Anmeldedatum
                <div>
                  <button mat-button 
                          color="primary" 
                          [ngClass]="{'active': activeSort === 'asc'}" 
                          (click)="sortRegistrations('asc')">
                    <mat-icon>arrow_upward</mat-icon> Asc
                  </button>
                  <button mat-button 
                          color="primary"
                          [ngClass]="{'active': activeSort === 'desc'}" 
                          (click)="sortRegistrations('desc')">
                    <mat-icon>arrow_downward</mat-icon> Desc
                  </button>
                </div>
              </th>
              <th> - </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let registration of storeService.registrations">
              <td *ngIf="registration.isDeleting" colspan="6" class="text-center">
                <div>
                  <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
                </div>
              </td>
              <ng-container *ngIf="!registration.isDeleting">
                <td>{{ registration.name }}</td>
                <td>{{ registration.birthdate }}</td>
                <td>{{ registration.course.name }}</td>
                <td>{{ registration.registrationDate | date: 'dd.MM.yyyy' }}</td>
                <td>
                  <button mat-raised-button color="warn" (click)="cancelRegistration(registration)">
                    Abmelden
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center mt-4">
        <mat-paginator [length]="storeService.registrationTotalCount" [pageSize]="2" (page)="selectPage($event)"></mat-paginator>
      </div>
    </div>
  </div>
</div>

